@import "./image.css";
@import "./title.css";
@import "./description.css";
.container {
  /* border: 3px solid green; */
  background: #1f1f3a;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: 14.375rem 1fr;
  grid-template-areas: "uno dos" "tres tres";
  column-gap: 1.2rem;
  grid-auto-flow: column dense;
  max-inline-size: 56.25rem;
  margin: auto;
  margin-block-start: 3.75rem;
  padding: 1.5rem;
  border-radius: 8px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-areas: "uno dos" "uno tres";
    grid-template-columns: 18.75rem 1fr;
    grid-template-rows: auto 1fr;
  }
}
